<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Image Page</title>

    <style>
        body {
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>

    <script>
        function getRandomNumber() {
            return Math.floor(Math.random() * 100000);
        }
        // Get the image element by its ID
        var imgElement = document.querySelector('img');
        // Append a random number to the image source
        imgElement.src = '/image?' + getRandomNumber();
    </script>

</body>
</html>
